@import url('https://fonts.googleapis.com/css2?family=Honk');
@import url('https://fonts.googleapis.com/css2?family=Tilt%20Prism');

.* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Honk', sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('cloud.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    position: relative;
    left: 5% ;
    font-size: 1em;
    color: #fff;
    user-select: none;
    margin: 0 100px 0 0;
}

.p-logo1 {
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Honk', sans-serif;
}

.p-logo2 {
    top: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tilt Prism', sans-serif;
    color: ghostwhite;
}

img {
    width: 30px;
    height: 30px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    
}

.navigation button {
    width: 130px;
    border-radius: 6px;
    outline: none;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 50px;
    transition: .5s;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform: scaleX(1);
}


.navigation button:hover {

    background: #fff;
    color: #162938;

}
main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
}

.content {
    width: 100%;
    min-height: 100%;
}
.main-content {
    flex: 1;
    padding: 20px;
}
.login-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 300px;
    height: 100%;
}
.wrapper {
    position: relative;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    z-index: 9999;
}

.wrapper.active{
    height: 520px;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper-register {
    position: relative;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

.wrapper .form-box-login {
    /*display: none;*/
    width: 100%;
    padding: 40px;
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box-login {
    transition: none;
    transform: translate(-400px);
}

.wrapper .form-box-register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box-register {
    /*display: none;*/
    transition: transform .18s ease;
    transform: translateX(0);
}

.form-box-register {
    text-align: center;
    color: #fff;
    font-size: 1em;
}

.form-box-login {
    font-size: 1em;
    color: white;
    text-align: center;
}


.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid ;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: antiquewhite;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -3px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: black;
    margin-right: 3px;
}

.remember-forgot a {
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: antiquewhite;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    color: black;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 15px;
    justify-content: space-between;
}

.login-register p a {
    color: antiquewhite;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

.register-login {
    font-size: .9em;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 15px;
    justify-content: space-between;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: antiquewhite;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 2;
}

.wrapper-register .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: antiquewhite;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 2;
}

.wrapper-container {
    position: relative;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    width: 260px;
    height: 270px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0, auto;
    padding: 0;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.product-container{
    border-radius: 10px;
    position: relative;
    bottom: 0% ;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    /*overflow-x: auto;
    scroll-behavior: smooth;*/
}
.wrapper-container::-webkit-scrollbar{
    display: none;
}

.product-container::-webkit-scrollbar{
    display: none;
}

.product-card{
    flex: 0 0 auto;
    width: 100%;
    height: 450px;
}

.product-image{
    position: relative;
    width: 100%;
    height: 250px;
    margin-top: 15px;
    overflow: hidden;
}

.product-thumb{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discount-tag{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn{
    opacity: 1;
}

.card-btn:hover{
    background: #efefef;
}

.product-info{
    width: 100%;
    height: 100px;
}

.product-brand{
    text-transform: uppercase;
}

.product-short-des{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price{
    font-weight: 900;
    font-size: 20px;
}

.actual-price{
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}